In [9]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv("cutoffs2.csv")

In [12]:
df.head()

,college,gopenH,course
0,5108 - Nashik District Maratha Vidya Prasarak ...,38617 (73.1965557),510819110 - Civil Engineering
1,"5109 - Sandip Foundation, Sandip Institute of ...",50417(-55.6552943),510919110 - Civil Engineering
2,5121 - K. K. Wagh Institute of Engineering Edu...,32662(79.9609655),512119120 - Civil Engineering
3,5124 - Jagadamba Education Soc. Nashik's S.N.D...,53420(50.4073637),512419110 - Civil Engineering
4,5130 - Brahma Valley College of Engineering & ...,62679((33.5790792)),513019110 - Civil Engineering

In [21]:
data = pd.read_csv('cutoffs2.csv',delimiter=',')
data.sort_values("gopenH", axis = 0, ascending = True, 
                 inplace = True, na_position ='last') 
data

,college,gopenH,course
2,5121 - K. K. Wagh Institute of Engineering Edu...,32662(79.9609655),512119120 - Civil Engineering
10,5162 - Amrutvahini Sheti & Shikshan Vikas Sans...,34835(77.6826257),516219110 - Civil Engineering
9,5161 - Dr. Vithalrao Vikhe Patil College of En...,36668(75.5527473),516119110 - Civil Engineering
5,"5139 - Pravara Rural College of Engineering, L...",37793(74.2184049),513919110 - Civil Engineering
8,5160 - Sanjivani Rural Education Society's San...,37829(74.1745906),516019110 - Civil Engineering
0,5108 - Nashik District Maratha Vidya Prasarak ...,38617 (73.1965557),510819110 - Civil Engineering
6,5151 - MET Bhujbal Knowledge City MET League's...,39672(71.9118212),515119110 - Civil Engineering
1,"5109 - Sandip Foundation, Sandip Institute of ...",50417(-55.6552943),510919110 - Civil Engineering
3,5124 - Jagadamba Education Soc. Nashik's S.N.D...,53420(50.4073637),512419110 - Civil Engineering
4,5130 - Brahma Valley College of Engineering & ...,62679((33.5790792)),513019110 - Civil Engineering
7,5152 - G. H. Raisoni Institute of Business Man...,83253(7.6077432),515219110- Civil Engineering\n\n